.searchBox {
    opacity: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    background: #fff;
    padding: 30px 50px;
    flex-wrap: wrap;
    transform: translateY(50%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    animation: 1s slidefades 0.1s forwards;
}

.whiteBackGround {
    background-color: #fff;
    width: 175px;
    border: 1px solid grey;
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.destinationBtn{
    display: flex;
    flex-direction: column;
    border-radius: 0%;
}

.findBtn{
    border-radius: 0%;
}


@media (max-width: 991px) {
    .searchBox {
        flex-direction: column;
        width: 50%;
        padding: 20px 50px;
    }

    .destinationBtn{
        display: flex;
        flex-direction: row;
        
    }

    .findBtn{
        width: 175px;
    }
}

@keyframes slidefades {
    100% {
        opacity: 1;
        margin: 0;
    }
}