.parentTicketContainer {
    padding: 0 100px;
    background-color: #f1f2f8;
    height: 80vh;
}

.mainFlightInfo {
    display: flex;
}

.sidebarComponent {
    margin-top: 10px;
    width: 30%;
}

.ticketArea {
    width: 70%;
    display: flex;
    height: calc(70vh - 10px);
    overflow-y: scroll;
}

.sidebarTotal {
    text-align: center;
}

.loaderContainer{
    display: 'flex';
    align-items: 'center';
}

.titleLoad{
    margin-left: 5px;
}

@media (max-width: 991px) {
    .parentTicketContainer {
        padding: 0px;
        height: 100vh;
    }

    .mainFlightInfo {
        display: block;

    }

    .sidebarComponent {
        margin-top: 10px;
        width: 100%;
    }

    .ticketArea {
        width: 100%;
        display: flex;
        height: 100% !important;
        overflow-y: hidden;
    }

}