.sdMainSearchContainer {
    padding: 10px;
    background-color: #042759;
    border-radius: 0px 0px 10px 10px;
}

.sd-spacing {
    margin-bottom: 0px;
}

.is-sticky {
    position: fixed;
    width: 90%;
    left: 5;
    z-index: 999;
    top: 0;
}

.sdSeprator {
    display: flex;
    margin-bottom: 0px;
}

.sdHolder {
    width: 65%;
    display: flex;
}

.sdAirportHolder {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.sdh2 {
    color: #fff;
    white-space: nowrap;
}

.sdsrchholder {
    width: 100px;
}

#sd-icon {
    font-size: x-large;
    color: #fff;
}

.sdDates {
    justify-content: flex-end;
    padding: 10px 0px;
    color: #fff;
    width: 45%;
    display: flex;
}

.sdDate {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.ExpandButton{
    background-color: #00a698;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    border-radius: 5px;
}

.collapseButton{
    background-color:#ff5a26;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    border-radius: 5px;
}

.sdChev {
    cursor: pointer;
    padding: 0px 10px;
}

.sd-search-return-type {
    display: flex;
    padding: 0px 20px;
}

.sd-from-to-airport {
    display: flex;
}

.sd-airport {
    width: 50%;
}

.sd-airport div p {
    color: #fff;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 21px;
    }
}

@media (max-width: 991px) {

    .sdSeprator{
        flex-direction: column;
    }

    .sdh2{
        font-size: 20px;
    }

    .sdDates{
        width: 100%;
        justify-content: space-around;
    }

    .sdAirportHolder{
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .sdsrchholder{

        width: auto;
    }

    .sdHolder{
        width: 100%;
    }

}

@media (max-width: 991px) {
    .sdHolder{
        display: flex;
        flex-direction: column;
    }
    .sdh2 {
            font-size: 15px;
        }
}