.container {
    position: relative;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    color: #222;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

.group {
    position: relative;
    display: flex;

}

.navigation{
    display: flex;
    gap: 15px;
    padding: 0;
    width: 100%;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkListItem{
    list-style: none;
    font-size: large;
    font-weight: 400;
}

.active{
    font-weight: 600;
    color: #00a698;
}

.normal{
    color: black;
}

.linkTag:hover{
    color: #ff5a26;
    cursor: pointer;
}

.linkTag{
    text-decoration: none;

}

.group .action {
    margin-left: 20px;
}

.group .action li {
    font-size: 1.25em;
}

.toggle{
    display: none;
}


@media (max-width: 991px) {

    .container{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100% !important;
        transition: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .logo{
        margin-bottom: 60px;
    }

    .toggle {
        z-index: 999;
        margin: 10px;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: block;
    }

    .active {
        z-index: 900;
        height:100vh;
        bottom: 0;
        width: 100%;
        background-color: white;
    }

    .navigation{
        gap: 60px;
        flex-direction: column;
        align-items: center;
    }



/* 
    .toggle::before {
        content: "";
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: #fff;
        transform: translateY(-5px);
        transition: 0.2s;
    }

    .toggle::after {
        content: "";
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: #fff;
        transform: translateY(5px);
        transition: 0.2s;
    } */

    .toggle.activate::before {
        transform: translateY(0px) rotate(45deg);
    }

    .toggle.activate::after {
        transform: translateY(0px) rotate(-45deg);
    }

    .toggle.activate {
        background: #ff5a26;;
    }
}

/* @media (max-width: 767px) {
    #navbar {
        display: none;
    }

    .container {
        padding: 30px 0px;
        justify-content: center;
    }

    .banner {
        height: 100vh;
    }

} */