.container{
    border: 1px solid grey;
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;

}
.headerContainer {
    display: flex;
    flex:4;
        
}

.priceContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.line {
    height: 2px;
    background-color: gray;
    width: 100px;
    margin: 2vh;
    flex: 1.5;
    display: flex;
    justify-content: center;
}   

.subHeaderContainer{
    display: flex;
    flex: 1;
    align-items: flex-end;
    flex-direction: column;
}

.smTxt{
    font-size: 12px;
    margin-top: 2px;
}

.toContainer{
    display: flex;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
}

.circleRed {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translateY(-50%);
}

.circleGreen{
    width: 10px;
    height: 10px;
    background-color: #00a698;
    border-radius: 50%;
    transform: translateY(-50%);
}

.tinyText{
    font-size: 12px;
    float: inline-end;
}

@media (max-width: 1100px) {

    .container {
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;

    }
}