.banner {
    position: relative;
    padding: 0 100px;
}

.bg {
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 75vh;
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    position: relative;
    color: #fff;
    font-size: 6em;
}

.header:hover {
    cursor: default;
}

.linkBtn{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    background: #00a698;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.1em;
    margin-top: 20px;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.searchBox {
    opacity: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 30px 50px;
    flex-wrap: wrap;
    transform: translateY(50%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    animation: 1s slidefades 0.1s forwards;
}

/* ul {
    list-style: none;
} */

@keyframes slidefades {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .banner {
        padding: 0px;
        z-index: -1;
        position:absolute;
    }

    .searchBox {
        flex-direction: column;

    }

    .searchBox div {
        margin-bottom: 5px;
    }

    .airport_holder {
        width: 91%;
        bottom: 98%;
        left: 5%
    }

    #book-btn {
        display: none;
    }

    .content {
        padding: 0px 10px;
    }
}