.container{
    color: #fff;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filterContainer{
    display: flex;
    margin-top: 10px;
    gap:10px
}

.whiteBackGround{
    background-color: #fff;
}

.small{
    width: 100px;
}