.container{
    color: #fff;
    position: absolute;
    background-color: #042759;
    left: 0;
    width: calc(100% - 220px);
    margin-left:100px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    z-index: 10;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filterContainer{
    display: flex;
    margin-top: 10px;
    gap:10px
}

.passengerRow{
    display: flex;
    gap:10px
}

.filterContainer>*:last-child {
    margin-left: auto;
}

.whiteBackGround{
    background-color: #fff;
}

.small{
    width: 100px;
}

@media (max-width: 991px) {

    .container {
        color: #fff;
        position: absolute;
        background-color: #042759;
        top:0;
        left: 0;
        right: 0;
        margin-top: 125px;
        margin-left: 0px;
        padding: 10px;
        border-radius: 0px 0px 10px 10px;
        z-index: 10;
        width: inherit;
    }

    .filterContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .passengerRow{
        display: flex;
        justify-content: space-between;
    }

    .small {
        width: 75px;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        width: 100%;
    }
}