.headerContainer{
    display: flex;
    gap: 10px;
}

.listContainer{
    display: flex;
    list-style: none;
    padding: 0;
    overflow-x: auto;
    margin: 0;
    /* Allow horizontal scrolling if needed */

}

.defaultListItem{
    border-bottom: 2px solid #00a698;
}

.activeListItem{
    border-top: 2px solid #00a698;
    border-left: 2px solid #00a698;
    border-right: 2px solid #00a698;
}

.flightContainer{
    padding: 10px;
}

.listItem{
    padding: 5px;
    cursor: pointer;
}

.singleSpan{
    margin-right: 10px;
}

@media (max-width: 600px){

    .headerContainer{
        justify-content: center;
        text-align: center;
    }
}